@tailwind base;
@tailwind components;
@tailwind utilities;
html, body, #root {
  height: 100%;
  margin: 0;
  background-color: #0f0026; /* your purple background */
  color: white;             /* make all text white by default */
}
